.social-login-btn {
  font-size: calc(
    12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))
  ) !important;
  // padding: calc(6px + 5 * ((100vw - 320px) / 780)) !important;
  color: #000 !important;
}

.social-login-btn:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.btn-icon {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 2;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon:hover {
  background-color: #545cd8;
  color: #fff !important;
  border: 1px solid #ccc;
}

.btn-wrapper {
  width: 49%;
}
